<component name="libraryTable">
  <library name="spring libs">
    <CLASSES>
      <root url="file://$USER_HOME$/Documents/Library/spring libs" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
    <jarDirectory url="file://$USER_HOME$/Documents/Library/spring libs" recursive="false" />
  </library>
</component>